{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
<section class="container m-3">
    <h1 class="text-center">L'histoire d'une vie</h1>
    <article class="row justify-content-center my-4">
        <div class="col-md-6 mb-4 d-flex align-items-center">
            <p class="text-center">
                Plongez au cœur d'un univers préservé et enchanteur, où la beauté sauvage de la nature s'épanouit dans toute sa splendeur. 
                Bienvenue sur notre blog dédié à la nature, un refuge virtuel où vous pourrez explorer les merveilles 
                de notre planète et vous émerveiller face à la richesse infinie de la vie qui nous entoure.
            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="{{ asset('/images/logo.jpg')}}" class="img-fluid rounded" style="max-width: 350px" alt="logo">
        </div>
    </article>
    <article class="row justify-content-center my-4">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="{{ asset('/images/nature1.jpg')}}" class="img-fluid rounded" style="max-width: 350px" alt="logo">
        </div>
        <div class="col-md-6 mb-4 d-flex align-items-center">
            <p class="text-center">
                Plongez au cœur d'un univers préservé et enchanteur, où la beauté sauvage de la nature s'épanouit dans toute sa splendeur. 
                Bienvenue sur notre blog dédié à la nature, un refuge virtuel où vous pourrez explorer les merveilles 
                de notre planète et vous émerveiller face à la richesse infinie de la vie qui nous entoure.
            </p>
        </div>
    </article>
    <article class="row justify-content-center my-4">
        <div class="col-md-6 mb-4 d-flex align-items-center">
            <p class="text-center">
                Dans ce sanctuaire virtuel, nous vous invitons à un voyage sensoriel à travers les paysages majestueux, 
                les forêts mystiques, les océans éternels et les vastes déserts. De la faune fascinante aux plantes exotiques, 
                chaque recoin de la nature détient une histoire captivante qui ne demande qu'à être racontée.
            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="{{ asset('/images/nature2.jpg')}}" class="img-fluid rounded" style="max-width: 350px" alt="logo">
        </div>
    </article>
    <article class="row justify-content-center my-4">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="{{ asset('/images/nature3.jpg')}}" class="img-fluid rounded" style="max-width: 350px" alt="logo">
        </div>
        <div class="col-md-6 mb-4 d-flex align-items-center">
            <p class="text-center">
                Nous sommes emplis de gratitude de vous accueillir dans cette aventure naturelle. 
                Préparez-vous à plonger dans un océan d'émerveillement et de connaissance. 
                Prêt à faire partie de cette communauté qui célèbre la beauté de la nature 
                et s'engage à la protéger pour les générations futures ? 
                Alors, suivez-nous, et ensemble, marchons sur le sentier de la découverte, 
                dans l'incroyable jardin de la vie."
            </p>
        </div>
    </article>
</section>


{% endblock %}

